<launch>
	<include file="$(find zed_cpu_ros)/launch/image_proc.launch"/>
	<group ns="stereo">
		<node pkg="nodelet" type="nodelet" name="stereo_nodelet"  args="manager"/>

		<node pkg="nodelet" type="nodelet" name="depth" args="load rtabmap_ros/disparity_to_depth stereo_nodelet"/>

		<node pkg="nodelet" type="nodelet" name="disparity2cloud" args="load rtabmap_ros/point_cloud_xyz stereo_nodelet">
			<remap from="disparity/image"       to="disparity"/>
			<remap from="disparity/camera_info" to="left/camera_info"/>
			
			<param name="voxel_size" type="double" value="0.05"/>
			<param name="decimation" type="int" value="4"/>
			<param name="max_depth" type="double" value="4"/>
		</node>
	</group>
</launch>